#panelbook{
      padding: 10px 20px;
      text-align: center;
}

#help{
      text-align: center;
}

#submit{
      border : 2px;
      border-radius: 4px;
      background-color: #f4511e;
      border-color: white;
      border-style: solid;
      padding: 8px;
      color: white;
}

.item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }

  #panelall {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.8s;
  }

  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }

  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }

  .panel-body{
      background-color: #eeeeee;
      
  }

  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 18px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }